body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.container {
    margin: 2rem 6rem;
}

.header {
    margin-top: 1.5rem;
    display: inline-block;
    width: 100%;
}

.heroes-table {
    margin-top: 2rem;
}

.heroes-form {
    margin-top: 2rem;
}

.input-search-form {
    width: 100%;
}

.input-form {
    margin-right: 1rem;
}

.search-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    float: right;
}

.table-options {
    text-align: center !important;
}

.table-option-edit {
    margin-right: 0.3rem !important;
}